[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
nltk = "*"
bs4 = "*"
contractions = "*"
scikit-learn = "*"
torch = "*"
cuda-python = "*"
torchvision = "*"
torchaudio = "*"
scipy = "*"
pyarrow = "*"

[dev-packages]
ipykernel = "*"
